<html>
    <head>
        <title>JSMud Room/OBJ/NPC Generator</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <h2>Realms</h2>
                    <ul id="files">
                    {% for realms in tree.dir %}
                        {% if tree.isLeaf == 1 %}
                            <li><a href="#" class="edit_me" id="{{ realms.full_path }}" filename="{{ realms.file }}">{{ realms.full_path }}</a></li>
                        {% else %}
                            <li><a href="/generate/{{ realms }}">{{ realms }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-8">
                    <div id="form_area_ctr"> 
                    </div>
                </div>
                <div id="error">
                </div>
            </div>
        </div>
        <script src="/assets/js/jquery.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/js/room_template.js"></script>
        <script src="/assets/js/obj_template.js"></script>
        <script src="/assets/js/npc_template.js"></script>
        <script>
            $(function() {
                num_exits = 0;

                {% if what %}
                var what = '{{ what }}';
                if (what === 'rooms') {
                    var template = room_template;
                } else if (what === 'objs') {
                    var template = obj_template;
                } else if (what === 'npcs') {
                    var template = npc_template;
                }

                {% endif %}

                function render_inputs(entity) {
                    if (what === 'npcs' || what === 'objs' || what === 'rooms' || what === 'quests') {
                        entity = eval(entity);
                        str = '<div id="form_area">';
                        for (var key in entity) {
                            str += '<div>';
                            str += '<label>'+key+'</label>';
                            if (typeof entity[key] === 'object') {
                                str += '<div id="'+key+'_inp">';
                                count = 0;
                                    for (var subkey in entity[key]) {
                                        if ($.isArray(entity[key])) {
                                            str += '<div><input id="'+key+count+'" class="'+key+'" value="'+entity[key][subkey]+'" /></div>';
                                        } else {
                                            str += '<div>';
                                            str += '<input class="'+key+'" id="'+key+count+'" value="'+subkey+'" /><textarea class="'+key+'_file" id="'+key+count+'_file">'+entity[key][subkey]+'</textarea>';
                                            str += '</div>';
                                        }
                                        count++;
                                    }
                                str += '</div>';
                                str += '<button class="add" key="'+key+'" id="add_'+key+'">Add '+key+'</button>';
                            } else if (typeof entity[key] === 'boolean') {
                                if (entity[key]) {
                                    str += '<input checked id="'+key+'" type="checkbox" class="'+key+'" style="visibility:visible" />';
                                } else {
                                    str += '<input id="'+key+'" type="checkbox" class="'+key+'" style="visibility:visible" />';
                                }
                            } else {
                                if (key === 'long') {
                                    str += '<textarea id="'+key+'" class="'+key+'">'+entity[key]+'</textarea>';
                                } else {
                                    str += '<input id="'+key+'" class="'+key+'" value="'+entity[key]+'" />';
                                }
                            }
                            str += '</div>';
                        };
                        str += '</div>';
                        str += '<button id="save">Save</button><button id="new">New</button>';
                        $('#form_area_ctr').html(str);
                        $('.realm').val('{{ realm }}');
                        $('.add').each(function() {
                            $(this).on('click', function(data) {
                                key = $(this).attr('key');
                                count = $('.'+key).length;
                                if (key === 'exits' || key === 'events') {
                                    if (key === 'exits') {
                                        str = '<div><input placeholder="exit direction" idx="'+count+'" id="'+key+count+'" class="'+key+'" size="12" value="" /><textarea id="'+key+count+'_file" class="'+key+'_file">{{realm}}/</textarea></div>';
                                    } else {
                                        str = '<div><input placeholder="event trigger" idx="'+count+'" id="'+key+count+'" class="'+key+'" size="12" value="" /><textarea id="'+key+count+'_file" class="'+key+'_file"></textarea></div>';
                                    }
                                } else {
                                    str = '<div><input id="'+key+count+'" class="'+key+'" value="main/" /></div>';
                                }
                                $('#'+key+'_inp').append(str);
                            });
                        });
                        if (what === 'objs') {
                            if (typeof what !== 'undefined' && what === 'objs') {
                                $('#name').on('keyup', function(data) {
                                    $('#origin').val($('#realm').val()+'/'+$('#name').val());
                                });
                            }
                        }
                        $('#save').on('click' ,function(data) {
                            name = $('#name').val();
                            filename = 'realms/'+$('#realm').val()+'/'+what+'/'+name+'.js';
                            if (typeof name!== 'undefined' && name.length>0) {
                                do_save(true, filename);
                            } else {
                                $('#error').text('No name');
                                $('#error').show();
                            }
                        });
                        $('#new').on('click',function(data) {
                            load_form(template);
                        });
                    }
                }
                function load_form(template) {
                    render_inputs(template);
                }

                if (typeof what === 'string') {
                    load_form(template);
                }

                $('.edit_me').click(function(data) {
                    do_click($(this));
                });

                function do_click(clicked) {
                    file = clicked.attr('id');
                    $.post('/realm_edit',
                        {
                            'the_file': file
                        },
                        function(entity) {
                            change = false;
                            $('#form_area').html('');
                            render_inputs(entity);
                            if (change) {
                                do_save(false, 'realms/'+file);
                            }
                        },'json'
                    );
                };

                function do_save(clear_fields, filename) {
                    var new_entity= {};
                    $('#form_area :input').each(function(idx, inp) {
                        if ($(inp).attr('class') != 'exits' && $(inp).attr('class') != 'exits_file' && $(inp).attr('class') != 'inv' && $(inp).attr('class') != 'start_inv' && $(inp).attr('class') != 'start_npcs' && $(inp).attr('class') != 'events' && $(inp).attr('class') !== 'add') {
                            if ($(inp).attr('type') === 'checkbox') {
                                if ($(inp).is(':checked')) {
                                    new_entity[$(inp).attr('id')] = true;
                                } else {
                                    new_entity[$(inp).attr('id')] = false;
                                }
                            } else {
                                new_entity[$(inp).attr('id')] = $(inp).val();
                            }
                        }
                    });
                    realm = $('#realm').val();
                    if (what === 'rooms') {
                        new_entity.exits = {};
                        new_entity.start_npcs = [];
                        new_entity.start_inv = [];
                        count = 0;
                        $('.exits').each(function(key, value) {
                            dir = $(value).val();
                            new_entity.exits[dir] = $('#exits'+count+'_file').val();
                            count++;
                        });
                        $('.start_npcs').each(function(key, value) {
                            new_entity.start_npcs.push($(value).val());
                        });
                        $('.start_inv').each(function(key, value) {
                            new_entity.start_inv.push($(value).val());
                        });
                    }
                    new_entity.events = {};
                    count = 0;
                    $('.events').each(function(key, value) {
                        trigger = $(value).val();
                        num_entity.events[trigger] = $('#events'+count+'_file').val();
                        count++;
                    });
                    if (what !== 'rooms') {
                        new_entity.start_inv = [];
                        $('.start_inv').each(function(key, value) {
                             if ($(value).val()) {
                                 new_entity.start_inv.push($(value).val());
                             }
                        });
                    }
                    console.log(new_entity);
                    $.post('/save_entity',
                        {
                            'filename': filename,
                            'new_entity':JSON.stringify(new_entity),
                            'realm': realm,
                            'what': what
                        }, 
                        function(rv) {
                            if (rv) {
                                if (clear_fields && !rv.error) {
                                    $('#form_area').html('');
                                    load_form(template);
                                }
                                if (rv.error) {
                                    $('#error').text(rv.msg);
                                    $('#error').show();
                                }
                                if (!rv.error) {
                                    $('#files').html('');
                                    $('#error').hide();
                                    for (var i in rv.tree) {
                                        $('#files').append('<li><a href="#" class="edit_me" id="'+rv.tree[i].full_path+'" filename="'+rv.tree[i].file+'">'+rv.tree[i].full_path+'</a></li>');
                                        $('.edit_me').on('click', function() {
                                            do_click($(this));
                                        });
                                    }
                                }
                            }
                        },'json'
                    );
                }

            });
        </script>
    </body>
</html>
