<html>
    <head>
        <title>JSMud Room/OBJ/NPC Generator</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <h2>Realms</h2>
                    <ul id="files">
                    {% for realms in tree.dir %}
                        {% if tree.isLeaf == 1 %}
                            <li><a href="#" class="edit_me" id="{{ realms.full_path }}" filename="{{ realms.file }}">{{ realms.full_path }}</a></li>
                        {% else %}
                            <li><a href="/generate/{{ realms }}">{{ realms }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-8">
                    <div id="form_area_ctr"> 
                    </div>
                </div>
                <div id="error">
                </div>
            </div>
        </div>
        <script src="/assets/js/jquery.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/js/room_template.js"></script>
        <script>
            $(function() {
                num_exits = 0;

                {% if what %}
                var what = '{{ what }}';
                var template = room_template;
                {% endif %}

                function load_form(template) {
                    $('#form_area_ctr').html(template);
                    $('#realm').val('{{ realm }}');
                    $('#add_exit').on('click', function(data) {
                        class_name = 'exit_dir';
                        count = $('.'+class_name).length;
                        str = '<div><input idx="'+count+'" id="exits'+count+'" class="exit_dir" size="5" value="" /><input id="exits_file'+count+'" class="'+class_name+'_file" value="" /></div>';
                        $('#exits_inp').append(str);
                    });
                    $('#save').on('click' ,function(data) {
                        if (what === 'rooms') {
                            name = $('#name').val();
                            filename = 'realms/'+$('#realm').val()+'/'+what+'/'+name+'.js';
                            if (typeof name!== 'undefined' && name.length>0) {
                                do_save(true, filename);
                            } else {
                                $('#error').text('No room name');
                                $('#error').show();
                            }
                        }
                    });
                    $('#new').on('click',function(data) {
                        if (what === 'rooms') {
                            load_form(template);
                        }
                    });
                }

                if (typeof what === 'string') {
                    if (what === 'rooms') {
                        load_form(template);
                    }
                }

                $('.edit_me').click(function(data) {
                    do_click($(this));
                });

                function do_click(clicked) {
                    file = clicked.attr('id');
                    $.post('/realm_edit',
                        {
                            'the_file': file
                        },
                        function(entity) {
                            change = false;
                            $('#form_area').html('');
                            for (var key in entity) {
                                if (typeof entity[key] === 'string') {
                                    $('#form_area').append('<div><label>'+key+'</label><input id="'+key+'" class="form-control" value="'+entity[key]+'" /></div>');
                                } else if (typeof entity[key] === 'object') {
                                    str = '<div id="'+key+'_inp">';
                                    str += '<label>'+key.toUpperCase()+'</label>';
                                    count = 0;
                                    class_name = '';
                                    for (var subkey in entity[key]) {
                                        if (key == 'exits') {
                                            class_name = 'exit_dir';
                                        }
                                        str += '<div><input idx="'+count+'" id="'+key+count+'" class="'+class_name+'" size="5" value="'+subkey+'" /><input id="'+key+'_file'+count+'" class="'+class_name+'_file" value="'+entity[key][subkey]+'" /></div>';
                                        count++;
                                    }
                                    str += '</div>';
                                    $('#form_area').append(str);
                                    if (key == 'exits') {
                                        $('#add_exit').on('click', function(data) {
                                            count = $('.'+class_name).length;
                                            str = '<div><input idx="'+count+'" id="exits'+count+'" class="'+class_name+'" size="5" value="" /><input id="'+key+'_file'+count+'" class="'+class_name+'_file" value="" /></div>';
                                            $('#exits_inp').append(str);
                                        });
                                    }
                                }
                            }
                            if (typeof what !== 'undefined' && what == 'rooms') {
                                if (typeof entity['exits'] === 'undefined') {
                                    $('#form_area').append('<button id="add_exit_fly">Add exit</button');
                                    $('#add_exit_fly').on('click', function(data) {
                                        class_name = 'exit_dir';
                                        count = $('.'+class_name).length;
                                        str = '<div><input idx="'+count+'" id="exits'+count+'" class="'+class_name+'" size="5" value="" /><input id="exits_file'+count+'" class="'+class_name+'_file" value="" /></div>';
                                        $('#form_area').append(str);
                                    });
                                }
                            }
                            if (change) {
                                do_save(false, 'realms/'+file);
                            }
                        },'json'
                    );
                };

                function do_save(clear_fields, filename) {
                    var new_entity= {};
                    $('#form_area :input').each(function(idx, inp) {
                        if ($(inp).attr('class') != 'exit_dir' && $(inp).attr('class') != 'exit_dir_file') {
                            new_entity[$(inp).attr('id')] = $(inp).val();
                        }
                    });
                    realm = $('#realm').val();
                    if (what === 'rooms') {
                        new_entity.exits = {};
                        $('.exit_dir').each(function(key, value) {
                            dir = $(value).val();
                            new_entity.exits[dir] = $('#exits_file'+key).val();
                        });
                    }
                    $.post('/save_entity',
                        {
                            'filename': filename,
                            'new_entity':JSON.stringify(new_entity),
                            'realm': realm,
                            'what': what
                        }, 
                        function(rv) {
                            if (rv) {
                                if (clear_fields && !rv.error) {
                                    $('#form_area').html('');
                                    load_form(template);
                                }
                                if (rv.error) {
                                    $('#error').text(rv.msg);
                                    $('#error').show();
                                }
                                if (!rv.error) {
                                    $('#files').html('');
                                    $('#error').hide();
                                    for (var i in rv.tree) {
                                        $('#files').append('<li><a href="#" class="edit_me" id="'+rv.tree[i].full_path+'" filename="'+rv.tree[i].file+'">'+rv.tree[i].full_path+'</a></li>');
                                        $('.edit_me').on('click', function() {
                                            do_click($(this));
                                        });
                                    }
                                }
                            }
                        },'json'
                    );
                }

            });
        </script>
    </body>
</html>
